
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --gray30:#212121;
    --gray20: #212429;
    --gray10: #616161;
    --color-copy: #424242;
    --color-amarillo: #fec52e;
}
html{
    scroll-behavior: smooth;
}
body{
    color: var(--gray30);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.hero{
    background: url(../image/background.png);
    height: 350px;
}
.header{
    position: sticky;
    top: 0;
}
.header-content{
    position: relative;
}
header{
    position: absolute;
    top: 64;
    left: -232;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    width: 188px;
    /* outline: 1px red solid; */
}
header a{
    color: var(--gray10ay30);
    text-decoration: none;
}
header li{
    margin-bottom: 16px;
}





.wrapper{
    width: 902px;
    margin: auto;
}
.main-content{
    /* background: pink; */
    /* padding: 20px; */
    width: 100%;
}
h1{
    font-size: 60px;
    font-weight: 400;
    margin: 64px 0 16px;
    color: var(--gray30);
}
h1 + p{
    margin-bottom: 64px;
}
hr{
    margin-bottom: 64px;
}
p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
    color: var(--color-copy);
}

h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 37.5px;
    margin: 30px 0;
    color: var(--gray30);
}
.section{
    margin-top: 124px;
}
.section:first-of-type{
    margin-top: 0;
}
.section h3{
    font-size: 24px;
    font-weight: normal;
    line-height: 28.13px;
    margin: 30px 0;
    color: var(--color-copy);
    counter-increment: titleList;
    padding-bottom: 8px;
    position: relative;
}
.section h3::before{
    content: counter( titleList) '. ';

}
.section h3::after{
    content:'';
    width: 80px;
    height: 4px;
    background: var(--color-copy);
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}

pre{
    background-color: var(--color-amarillo);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 40px 0;
}
blockquote{
    margin: 32px 0 64px;
    border-left: 6px var(--gray30) solid;
    padding: 20px;
}
blockquote span{
    color: var(--gray10);
}
blockquote span:before{
    content: '- ';
}

.section-setup img{
    margin: 40px 0 16px;
}
.section-setup h3{
    margin: 0 0 16px;
}


.section-box ul li{
    margin: 16px 0;
}

.section-box ol li{
    line-height: 24px;
}

